@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/*
Headings: Poppins
Body: Open Sans */

/* Mobile size: 375px, Desktop size: 1440px */

/* font weights: 400, 600, 700 */

:root{
    /* Primary */
    --var-pink:  hsl(322, 100%, 66%);
    --var-lightPink: hsl(321, 100%, 78%);
    --var-red: hsl(0, 100%, 63%);
    /* Neutral */
    --var-DarkCyan: hsl(192, 100%, 9%);
    --var-paleBlue: hsl(207, 100%, 98%);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Open Sans";
}

.header {
    padding-bottom: 9rem;
    margin: 1.5rem;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 1.4em;
}

.nav-btn {
    padding: 7px 25px;
    font-size: 0.75em;
    border-radius: 20px;
    border: 1px solid var(--var-pink);
    background: none;
    cursor: pointer;
    color: var(--var-pink);
}

.nav-btn:hover{
    background-color: var(--var-pink);
    color: white;
    transition: 0.5s;
}

.main-section,
.cta {
    padding: 0 1em 6.5em 1em;

}


.heading {
    font-family: "Poppins";
    padding: 0 1em 1.5em 1em;
}

.section-heading{
    font-family: "Poppins";
    padding: 0 3em 1em 3em;
}

.bodytext,
.section-bodytext{
    font-size: 16px;
    padding: 0 2.5em 2em 2.5em;
}

.cta-btn {
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    background: var(--var-pink);
    color: white;
    cursor: pointer;
}

.cta-btn:hover{
    transition: 1s;
    padding: 15px 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section1{
    height: 350px;
}

.main-section{
    margin: 0 2rem 0 2rem;

}

.section{
    margin: 0 2rem 0 2rem;
}

.testing-sections{
    background-color: var(--var-paleBlue);
}

.main-img {
    height: 80%;
}

.stat-img1,
.stat-img2 {
    height: 30px;
    width: 30px;
    text-align: center;
    margin-bottom: -60px;
}

.stat-img1{
    margin-right: 130px;
}

.stat-img2{
    margin-right: 150px;
}

.stats-number {
    font-size: 4em;
    margin-bottom: 0;
}

.section-img{
    margin: 10em 0 3em 0;
    width: 50vw;
}

.section-top-img{
    width: 100%;
    margin-bottom: -5px;
}

.section-bottom-img {
    margin-top: -100px;
    width: 100%;
}

.heading{
    font-size: 1.5em;
    margin-bottom: -10px;
}

.cta-heading{
    font-family: "Poppins";
    padding: 0 2em 0.5em 2em;
}

.cta{
    margin: 10em 0 10em 0;
}

.subscription-section {
text-align: left;
background-color: var(--var-DarkCyan);
margin-bottom: 5em;
}

.newsletter-section,
.footer {
    padding: 2em;
}

.newsletter-heading {
    text-transform: uppercase;
    color: white;
}

.testing-img {
    width: 100%;
    margin-bottom: -5px;
}

.newsletter-bodytext {
    color: white;
    font-family: "Open Sans";
    padding-right: 5em;
    line-height: 25px
}

.form-section{
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 3.5em;
    margin: 1em 0 1em 0;
    border-radius: 8px;
}

.sub-btn {
    width: 45%;
    border-radius: 8px;
    height: 3.5em;
    font-size: 1em;
    color: white;
    background-color: var(--var-pink);
    font-family: "Open Sans";
    font-weight: 600;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
}

.sub-btn:hover {
    transition: 0.3s;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 7px 29px 0px;
}

.footer {
    text-align: left;
}

.logo-bottom{
    margin-bottom: 1em;
}

.footer-text {
    padding-right: 5em;
    margin-bottom: 2em;
}

.social-icons{
    margin: 2em 0 1em 0;
    display: flex;
    gap: 15px;
    height: 1.5em;
}

.social-icon {
    cursor: pointer;
}

.social-icon:hover {
    transition: 0.3s;
    border-radius: 10px;
    background-color: #be05a23d;
    margin: -5px;
    box-shadow: hsla(309, 95%, 38%, 0.584) 0px 7px 29px 0px;
}

.phone-icon {
    display: flex;
    gap: 10px;
}

@media only screen and (min-width: 600px) {
    .logo {
        height: 2em;
    }

    .main-section{
        margin: 0;
        padding: 0;
    }

    .heading{
        font-size: 2.5em;
    }

    .heading,
    .section-heading{
        font-family: "Poppins";
        padding: 0 3em 1em 3em;
    }
    
    .bodytext{
        font-size: 1.4em;
        width: 650px;
        margin: auto;
        text-align: center;
    }
    
    .cta-btn {
        width: 350px;
        height: 65px;
        font-size: 1em;
        font-weight: bolder;
    }

    .section1{
        height: 70%;
    }

    .main-img {
        width: 70%;
        padding-top: 80px;
    }

    .stats-section{
        padding-top: 3em;
        margin-bottom: 15em;
        display: flex;
        justify-content: center;
        gap: 25%;
    }

    .section{
        display: flex;    
        align-items: center;   
        justify-content: center; 
        margin: 5em 5em 5em 5em;
        overflow: hidden;
        padding: 0;
    }

    .section-img{
        width: 30vw;
        place-items: left;
        margin: 0 5em 0 0;
        padding: 0;
    }

    .section-heading{
        font-size: 1.8em;
        text-align: left;
        padding-left: 40px;
        padding-bottom: 0;

    }

    .section-bodytext{
        text-align: left;
    }

    .section-div{
        width: 600px;
    }

    #first-section,
    #section-section{
        display: flex;
        flex-direction: row-reverse;
    }

    .section-top-img{
        width: 100%;
        margin-bottom: -100px;
    }

    .section-bottom-img {
        width: 100%;
        display: block;
    }

    .testing-img {
        display: none;
    }

    .subscription-section {
        border-radius: 40px;
    }

    .footer-text{
        padding-right: 200px;

    }

    .bottom-section{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
        height: 450px;
        margin: -50px 30px 0 30px;
    }

    .phone-icon {
        display: flex;
        line-height: 0;
    }

    .social-icons{
        gap: 20px;
    }

}













