@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/*
Headings: Poppins
Body: Open Sans */

/* Mobile size: 375px, Desktop size: 1440px */

/* font weights: 400, 600, 700 */

:root{
    /* Primary */
    --var-pink:  hsl(322, 100%, 66%);
    --var-lightPink: hsl(321, 100%, 78%);
    --var-red: hsl(0, 100%, 63%);
    /* Neutral */
    --var-DarkCyan: hsl(192, 100%, 9%);
    --var-paleBlue: hsl(207, 100%, 98%);
}

body{
    margin: 2rem;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Open Sans";
}

.header {
    padding-bottom: 9rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 1.4em;
}

.nav-btn {
    padding: 7px 25px;
    font-size: 0.75em;
    border-radius: 20px;
    border: 1px solid var(--var-pink);
    background: none;
    cursor: pointer;
    color: var(--var-pink);
}

.nav-btn:hover{
    background-color: var(--var-pink);
    color: white;
    transition: 0.5s;
}

.section {
    padding: 0 1.8em 6.5em 1.8em;

}

.heading{
    font-family: "Poppins";
    padding-bottom: 0.5em;
}

.bodytext{
    font-size: 16px;
    padding: 0 2.5em 2em 2.5em;
}

.cta-btn {
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    background: var(--var-pink);
    color: white;
    cursor: pointer;
}

.cta-btn:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}












